<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <div class="head-top">
    <div class="top-left"><i class="fa-solid fa-envelope" style="font-size: 1vw;"></i>
      <h5 style="font-weight: 400;  letter-spacing: 2px;">dil76676484@gmail.com</h5>
    </div>
    <div class="top-right"><i class="fa-solid fa-mobile" style="font-size: 1vw;"></i>
      <h5 style="font-weight: 400;">+91 -7667648479</h5>
    </div>
  </div>
  <nav>
    <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
    <div class="nav-conter">
      <ul id="menuList">
        <li><a href="home.html">Home</a></li>
        <li><a href="home.html">About</a></li>
        <li><a href="home.html">Services</a></li>
        <li><a href="home.html">Get in Touch</a></li>
        <li><a href="/getloginpage" style="background-color: blue; color: white;">Login</a></li>
        <li><a href="/registerpage">Create Account</a></li>

      </ul>
      <div class="menu-icon">
        <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
      </div>
    </div>
  </nav>
  <div class="user-elem">
    <div class="formholder">
      <form action="">
        <input type="email" id="emailvalue" placeholder="Enter your Email-ID">
        <input type="password" id="passwordvalue" placeholder="Enter your Password">
        <button><h5 id="loginbutton">Login</h5></button>
        <p> Not
          Registered?
          <a href="/registerpage">Create an
            account</a>
        </p>
        <a href="" id="forgot_password">Forgot Password?</a>
      </form>
    </div>
  </div>
  <footer>
    <div class=" footer-elem"><img src="{{url_for('static', filename='images/logo.png')}}" alt="">
    </div>
    <div class="footer-elem">
      <h1>QUICK LINKS</h1>
      <ul>
        <li><a href=""><i class="fa-solid fa-check"></i>About</a></li>
        <li><a href=""><i class="fa-solid fa-check"></i>Services</a></li>
        <li><a href=""><i class="fa-solid fa-check"></i>Pricing</a></li>
        <li><a href=""><i class="fa-solid fa-check"></i>Testimonials</a></li>
      </ul>
    </div>
    <div class="footer-elem">
      <h1>POLICIES</h1>
      <ul>
        <li><a href=""><i class="fa-solid fa-check"></i>Privacy Policy</a></li>
        <li><a href=""><i class="fa-solid fa-check"></i>Refund & Cancellation Policy</a></li>
        <li><a href=""><i class="fa-solid fa-check"></i>Disclaimer</a></li>
      </ul>
    </div>
    <div class="footer-elem">
      <h1>GET IN TOUCH</h1>
    </div>
  </footer>

  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <!-- <script>
    let smScreen = document.querySelector('.user-elem');
    let bgScreen = document.querySelector('#respons-form');

    function handleResize() {
      const windowWidth = window.innerWidth;
      if (windowWidth > 600) {
        smScreen.style.display = 'none';
        bgScreen.style.display = '';
      }
      else if (windowWidth => 600) {
        smScreen.style.display = ''
        bgScreen.style.display = 'none';
      }
    }
    window.addEventListener('resize', handleResize);
    handleResize();
  </script> -->
</body>

</html>