<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile | MoneyWealthMangment.pvt.in</title>
  <link rel="stylesheet" href="dashborad.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="main" style="height: fit-content;">
    <div class="main-left">
      <div class="slidbar">
        <i class="fa-solid fa-house active" onclick="window.location.href = 'dashborad.html'"></i>
        <i class="fa-solid fa-user" onclick="window.location.href ='Profile.html'"></i>
        <i class="fa-solid fa-dollar-sign"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-solid fa-bolt"></i>
        <i class="fa-solid fa-right-from-bracket" onclick="window.location.href = 'login.html'"></i>
      </div>
    </div>
    <div class="main-right">
      <nav>
        <div class="nav-left"
          style="display: flex; align-items: center; gap: 5px; border-bottom: 0.5px solid #54BE73; padding: 5px 10px; border-radius: 10px;">
          <i class="fa-solid fa-users" style="font-size: 2vw;"></i>
          <div class="elem">
            <h1> User Dashboard</h1>
            <p>Payment updates</p>
          </div>
        </div>
        <div class="nav-right">
          <div class="nav-right-elem">
            <p style="font-size: 1.4vw; font-weight: 550;"><span>Name :</span> Khushdil Kumar</p>
            <button type="button">Log-out</button>
          </div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuphMb4mq-EcVWhMVT8FCkv5dqZGgvn_QiA&s"
            alt="">
        </div>
      </nav>
      <div class="user-profile-details">
        <div class="user-elem">
          <img
            src="https://media.istockphoto.com/id/1300512215/photo/headshot-portrait-of-smiling-ethnic-businessman-in-office.jpg?s=612x612&w=0&k=20&c=QjebAlXBgee05B3rcLDAtOaMtmdLjtZ5Yg9IJoiy-VY="
            alt="" id="userPhotoShow">
          <h1>Khushdil Kumar </h1>
        </div>
        <div class="user-elem">
          <img
            src="https://content.jdmagicbox.com/comp/ludhiana/l3/0161px161.x161.140423120108.i9l3/catalogue/dholewal-aadhaar-card-center-dholewal-ludhiana-aadhaar-card-agents-7mb380p7h3.jpg"
            alt="">
          <h1>Your Adhar Card </h1>
        </div>
        <div class="user-elem">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPXUqp8m49F-S8YSqV0qfm2I6PIp3S_3sZrA&s"
            alt="">
          <h1>Your Pan Card </h1>
        </div>
        <div class="user-elem">
          <img src="https://qph.cf2.quoracdn.net/main-qimg-150d6cbbaa3b11d9055afa4d68fd315f.webp" alt="">
          <h1>Your Passbook / Bank Stament </h1>
        </div>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</body>

</html>